<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
<script type="text/javascript" th:src="@{/js/event.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
	const message = '[[${message}]]';
	message && alert(message);
</script>
</head>
<body>
	<div th:replace="common/header.html"></div>
	
	<section class="profitsection">
	<div class="profit-title">
	<h2>이달의 수익금</h2>
	</div>
	  

         <section class="part3">
                <img src="../images/car.png" class="carpic">
                <ol class="profit_contents" >이번달 수입액   <strong> 5,350,000 </strong>원<br>
                지난 달 대비 수익   <strong> 19.8 % </strong>증가</ol>
         </section>

         <section class="part4">
            <div class="chartTilte">
                <h3> 6개월 수익 비교 </h3>
            </div> 
         </section>
	
 		<div class="part5"  style="width: 700px; height: 400px;">
            <canvas id="myChart"></canvas>
         </div>

            <script type="text/javascript">
                var context = document
                    .getElementById('myChart')
                    .getContext('2d');
                var myChart = new Chart(context, {
                    type: 'line', 
                    data: { 
                        labels: [
                        
                            '4월','5월','6월','7월','8월','9월','10월'
                        ],
                        datasets: [
                            
                            { //데이터
                                label: '수익금 총계',
                                fill: false, 
                                data: [
                                    380,320,400,480,440,410,530 
                                ],
                                backgroundColor: [
                                    'rgba(62, 191, 180, 0.2)'
                                ],
                                borderColor: [
                                    ' rgb(14, 179, 165)'
                                ],
                                borderWidth: 3,
                                pointStyle: 'rectRot',
                                pointRadius: 7,
                                pointBackgroundColor:' rgb(14, 179, 165)'
   

                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }
                            ]
                        }
                    }
                });
            </script>

            <section class="part6">
            <div class="tableTitle">
                <h3>일별 결제 건수</h3>
            </div>
            </section>

         <!--테이블-->    
            <section class="part7">

                <div class="content-box1">
                    <table class="member">
                   
                        <tr>
                            <td>아이디</td>
                            <th>성명</th>
                            <th>결제건수</th>          
                            <th>결제액</th>
                            <th>결제일</th>        
                        </tr>
                                      
    
                        <tr>
                            <td>greedy123</td>
                            <th>홍길동</th>
                            <td>2</td>
                            <td>70,000</td>
                            <td>2022-10-01</td>                               
                        </tr>
                   
    
                        <tr>
                            <td>gildong123</td>
                            <th>고길동</th>
                            <td>1</td>
                            <td>30,000</td>
                            <td>2022-10-01</td>                               
                        </tr>
                        <tr>
                            <td>jiyoung258</td>
                            <th>박지영</th>
                            <td>1</td>
                            <td>30,000</td>
                            <td>2022-10-02</td>                               
                        </tr>
                        <tr>
                            <td>greedy123</td>
                            <th>송다인</th>
                            <td>1</td>
                            <td>30,000</td>
                            <td>2022-10-02</td>                               
                        </tr>
                        <tr>
                            <td>byeol555</td>
                            <th>우별림</th>
                            <td>3</td>
                            <td>70,000</td>
                            <td>2022-10-03</td>                               
                        </tr>
    
                        <tr>
                            <td>dong369</td>
                            <th>김동훈</th>
                            <td>2</td>
                            <td>70,000</td>
                            <td>2022-10-03</td>                               
                        </tr>
    
                    </table>
    
                </div>
    
                
            </section>

        </div>
	
	<div th:replace="common/footer.html"></div>
</body>
</html>
