@charset "UTF-8";
.list-title {
    display: flex;
    width: 1200px;
    margin-bottom: 50px;
}
.search {
    position: relative;
    width: 180px;
    margin-top: 25px;
    margin-left: auto;
}  
.search input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 12px;
}
.search img {
    position : absolute;
    width: 15px;
    top: 10px;
    right: -10px;
    margin: 0;
}
.search input:focus {
    outline: 2px solid #77CFD1;
}
.category-area {
    width: 1200px;
    background-color: #9ee6e7;
    border-radius: 20px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 28px;
    width: 50px;
    border-radius: 15px;
    line-height: 24px;
    text-align: center;
    font-size:12px;
    font-weight: bold;
    padding-top: 5px;
    margin-top: 15px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #3d3d3d;
}
.select input[type=radio]:checked+label{
    background-color: #5bc3c5;
}
select {
    width: 120px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #77CFD1;
    -ms-overflow-style: none;
}
select::-webkit-scrollbar {
    display:none;
}
.container1 {
    width: 1050px;
    display: flex;
    margin: 0 30px;
    text-align: center;
}
.container1-item {
    width: 33%;
    margin: 5px auto;
}
.container1-item select {
    margin-top: 20px;
}