<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
<title>유레카 !</title>
</head>
<body>
  
	<div class="header" th:replace="common/header.html"></div>
	<div>
		<div>
			<ul class="sideul" align="left">
				<button class="sidebutton" onclick="location.href='/mypage/update'" style="cursor: pointer;">회원 정보 변경</button><br><br><br>
				<button class="sidebutton" onclick="location.href='/mypage/mylist'" style="cursor: pointer;">작성한 게시 글</button><br><br><br>
				<button class="sidebutton" onclick="location.href='/mypage/delete'" style="cursor: pointer;">회원 탈퇴</button>
			</ul>
		</div>
	<div>
			<div align="center">
			<br><br><h3 class="mypagebar">회원 정보</h3><br><br><br>
			<table>
				<tr>
                <td style="font-weight:bolder; font-size:17px;">아이디&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<hr><br></td>
                <td><input type="text" name="id" style="border:0 solid black; font-size:17px;" 
                           th:value="${ #authentication.principal.memberId }"></td>
                </tr>
                  
                <tr>
				<td style="font-weight:bolder; font-size:17px;">이름<hr><br></td>
				<td><input type="name" name="username" style="border:0 solid black; font-size:17px;" 
						   th:value="${ #authentication.principal.name }" required/></td>
				</tr>
				
				<tr>
				<td style="font-weight:bolder; font-size:17px;">이메일<hr><br></td>
				<td><input type="email" name="email" style="border:0 solid black; font-size:17px;" 
				           th:value="${ #authentication.principal.email }"></td>
				</tr>
				
				<tr>
	  			<td style="font-weight:bolder; font-size:17px;">휴대전화<hr><br></td>
	  			<td><input type="tel" name="phone" maxlength="20" style="border:0 solid black; font-size:17px;" 
	  			           th:value="${ #authentication.principal.phone }"></td>
	  			</tr>
	  			
	  			<tr>
				<td style="font-weight:bolder; font-size:17px;">우편번호<hr><br></td>
				<td><input type="text" name="zipCode" style="border:0 solid black; font-size:17px;"
				           th:value="${ #strings.listSplit(#authentication.principal.address,'$').size() > 0 ? #strings.listSplit(#authentication.principal.address,'$')[0] : '' }" readonly>
				           </td>
				</tr>
							 
				<tr>
				<td style="font-weight:bolder; font-size:17px;">주소<hr><br></td>
				<td><input type="text" name="address1" style="border:0 solid black; font-size:17px; width:275px;" 
				           th:value="${ #strings.listSplit(#authentication.principal.address,'$').size() > 1 ? #strings.listSplit(#authentication.principal.address,'$')[1] : '' }"/></td>
				</tr>
				
				<tr>
				<td style="font-weight:bolder; font-size:17px;">상세주소<hr><br></td>
				<td><input type="text" name="address2" style="border:0 solid black; font-size:17px; width:200px;"
				           th:value="${ #strings.listSplit(#authentication.principal.address,'$').size() > 2 ? #strings.listSplit(#authentication.principal.address,'$')[2] : '' }"/></td>
				</tr>
				</table>
				<br>
                <br>
		</div>
	</div>
	</div>
    
    <div th:replace="common/footer.html"></div>

</body>
</html>