<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}">
</head>
<body>
                   
            
	<br>
	<br>
	<h2>비밀번호 변경</h2>	
	<div class="searchId_container">
		<form action="/member/searchId" method="post">
			<table>
			<tr>
				<td style="width : 200px">새로운 비밀번호</td>				
				<td height="100px"><input type="text" class="new_password" id="new_password"
							name="password" placeholder="비밀번호를 입력하세요.">
				</td>
			</tr>
			<tr>
				<td style="width : 200px">비밀번호 재확인</td>
				<td><input type="password" class="new_password2"
				id="new_password2" name="password" placeholder="비밀번호를 재입력하세요."></td>
			</tr>
			</table>
			<br><br>
			<input type="submit" class="change_password" value="비밀번호 변경" >
		</form>
		<br>
	</div>
</body>
</html>