<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/regist/registPage.css}">
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
    <script type="text/javascript" th:src="@{/js/regist.js}"></script>
   	<script src = "js/jquery-3.6.0.min.js"></script>
    
    

</head>
<body>
		<!--<div th:replace="common/header.html"></div>  -->
		
        <div class="outer outer-member-insert">


            <form th:action="@{/member/regist}" method="post">
                <table style="margin: 0 auto">
                    <tr>
                        <td>아이디 </td>
                    </tr>
                    <tr>
                        <td style="width:260px"><input type="text" class="memberId" id="memberId" maxlength="13"  name="memberId" placeholder="아이디" required>
                      	<font id = "CheckId" size = "2"></font>
                        </td>
                        <td><input type="button" value="중복확인" class="btn_duplicationCheck" id="duplicationCheck"></td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                    </tr>
                   	<tr>
                        <td colspan="2">
                        <input type="password" class="pwcheck" maxlength="13" name="memberPwd" id="memberPwd" placeholder="비밀번호" required>
                   		<font id = "passwordCheck" size = "2"></font>
                   		</td>
                   		
                    </tr>
                    <tr>
                        <td>비밀번호 재확인</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <input type="password" class="pwcheck" maxlength="13" name="memberPwd2" id="memberPwd2" placeholder = "비밀번호 재확인" required>
                    	<font id = "checkPw" size = "3"></font>
                    	</td>
                    </tr>
                    <tr>
						<td>이름</td>
					</tr>
					<tr>	
						<td><input type="text" class="regist" name="name" maxlength="5" placeholder = "이름" required /></td>
					</tr>
					<tr>
						<td>생년월일</td>
					</tr>
					<tr>
						<td>	
								<select name="year" id="year" ></select>년
								<select name="month" id="month"></select>월
								<select name="day" id="day"></select>일
						</td>
					</tr>
					<tr>
						<td> 성별</td>
					</tr>
					<tr>
						<td>
							<label><input type="radio"  name="gender" value="남" checked/>남</label>
							<label><input type="radio"  name="gender" value="여" />여</label>
						</td>
					</tr>
					<tr>
						<td><label for="memail" id="mailTxt">이메일을 입력해주세요</label> </td>
					</tr>	
					<tr>		
						<td><input type="text" class="regist" name="email" id="memail" placeholder = "이메일" required></td>
						<td><button class="btn_checkEmail" type="button" id="checkEmail">인증번호 받기</button></td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" id="memailconfirm" placeholder="인증번호"></td>
						<td><label for="memailconfirm" id="memailconfirmTxt">인증번호를 입력해주세요</label></td>
					</tr>
                    <tr>
                        <td>우편번호</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="regist"  name="zipCode" id="zipCode" readonly></td>
                        <td><input type="button" value="검색" class="btn_btn-yg" id="searchZipCode"></td>
                    </tr>
                    <tr>
                        <td>주소</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="regist" name="address1"  id="address1" readonly></td>
                    </tr>
                    <tr>
                        <td>상세주소</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="regist" name="address2" id="address2" required></td>
                        <td></td>
                    </tr>
                      <tr>
                        <td>휴대전화</td>
                    </tr>
                    <tr>
                        <td><input type="tel" class="regist" id="phone"  name="phone" placeholder="ex) 01021394929"></td>
                   	</tr>
                    </table>
                    <br>
                    <div class="agree">
      		  		<label><input type="checkbox" name="agree" id="agree" />유레카 이용약관, 개인정보 수집 및 이용에 모두 동의합니다.</label>
      				</div>
           			
                <br>
               	 <div class="btns" align="center">
                    <input type="submit" id="send" value="가입하기" class="send" disabled>
               	 </div>
            </form>
        </div>	
    
    <!-- <div th:replace="common/footer.html"></div> -->
    
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	
	    const $searchZipCode = document.getElementById("searchZipCode");
	    const $goMain = document.getElementById("goMain");
	
	    $searchZipCode.onclick = function() {
	
	        /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
	        new daum.Postcode({
	            oncomplete: function(data){
	                /* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
	                document.getElementById("zipCode").value = data.zonecode;
	                document.getElementById("address1").value = data.address;
	                document.getElementById("address2").focus();
	            }
	        }).open();
	    }
	
	    $goMain.onclick = function() {
	        location.href = "/";
	    }
	
	</script>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script>
	$(document).ready(function(){            
	    var now = new Date();
	    var year = now.getFullYear();
	    var mon = (now.getMonth() + 1) > 9 ? ''+(now.getMonth() + 1) : '0'+(now.getMonth() + 1); 
	    var day = (now.getDate()) > 9 ? ''+(now.getDate()) : '0'+(now.getDate());           
	   
	    //년도 selectbox만들기               
	    for(var i = 1900 ; i <= year ; i++) {
	        $('#year').append('<option value="' + i + '">' + i + '</option>');    
	    }

	    // 월별 selectbox 만들기            
	    for(var i=1; i <= 12; i++) {
	        var mm = i > 9 ? i : "0"+i ;            
	        $('#month').append('<option value="' + mm + '">' + mm + '</option>');   
	    }
	    
	    // 일별 selectbox 만들기
	    for(var i=1; i <= 31; i++) {
	        var dd = i > 9 ? i : "0"+i ;            
	        $('#day').append('<option value="' + dd + '">' + dd+ '</option>');    
	    }
	    
	   /*  document.getElementById("year").value = year.selected;
	    document.getElementById("month").value = month.selected;
	    document.getElementById("day").value = day.selected; */

	    const $year=document.getElementById("year").value
	    const $month=document.getElementById("month").value
	    const $day=document.getElementById("day").value
	    
	    
	   //기본값 현재 날짜
	   /* $("#year  > option[value="+year+"]").attr("selected", "true");        
	    $("#month  > option[value="+mon+"]").attr("selected", "true");    
	    $("#day  > option[value="+day+"]").attr("selected", "true"); */
       
		
	    
	})
	</script>
	
	<script src="js/jquery-3.3.1.min.js"></script>
	<script>
		// 이메일 인증번호
	$(document).ready(function(){    
	var $memail = $("#memail");
	var $checkEmail = $("#checkEmail"); // 인증번호 발송 버튼
	var $memailconfirm = $("#memailconfirm"); // 인증번호 확인input
	var $memailconfirmTxt = $("#memailconfirmTxt"); // 인증번호 확인 txt
	
	$checkEmail.click(function() {

   $.ajax({
      type : "POST",
      url : "/regist/mailConfirm",
      data : {
         "email" : $memail.val()
      },
      success : function(data){
         alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
         console.log("data : "+data);
         chkEmailConfirm(data, $memailconfirm, $memailconfirmTxt);
      }
   })
})

	// 이메일 인증번호 체크 함수
	function chkEmailConfirm(data, $memailconfirm, $memailconfirmTxt){
		$memailconfirm.on("keyup", function(){
			if (data != $memailconfirm.val()) { //
				emconfirmchk = false;
				$memailconfirmTxt.html("<span id='emconfirmchk'>인증번호가 잘못되었습니다</span>")
				
				$("#emconfirmchk").css({
					"color" : "#FA3E3E",
					"font-weight" : "bold",
					"font-size" : "20px"

				})
				//console.log("중복아이디");
			} else { // 아니면 중복아님
				emconfirmchk = true;
				$memailconfirmTxt.html("<span id='emconfirmchk'>인증번호 확인 완료</span>")

				$("#emconfirmchk").css({
					"color" : "green",
					"font-weight" : "bold",
					"font-size" : "20px"

				})
			}
		})
	}
})
</script>
	

</body>
</html>

