<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/regist/loginPage.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/searchIdAndPwd.js}"></script>
</head>
<body>
	<div th:replace="common/header.html"></div>


	<br>
	<br>&ensp;<h2 style="margin: 50px 200px;">비밀번호 찾기</h2>
	<div class="searchPassword_container" style="margin: 50px 350px;;">

		<form action="/member/searchPassword" method="post">
			<table>
				<tr>
					<th style="width: 200px;font-size:1.2em;">아이디</th>
					<td height="70px"><input type="text" class="search_Id2"
						id="memberId" name="memberId" placeholder="아이디를 입력하세요."></td>
				</tr>
				<tr>
					<th style="width: 200px;font-size:1.2em;">이름</th>
					<td height="70px"><input type="text" class="search_name"
						id="name" name="name" placeholder="이름을 입력하세요."></td>
				</tr>
				<tr>
					<th style="width: 200px;font-size:1.2em;">휴대전화</th>
					<td height="70px"><input type="text" class="search_phone"
						id="phone" name="phone" placeholder="번호만 입력(-제외)"></td>
				</tr>
			</table>
			<br>
			<button type="button" class="search_password" onclick="findPwd();">비밀번호
				찾기</button>
		</form>
	</div>

	<div th:replace="common/footer.html"></div>

</body>
</html>