<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}">
</head>
<body>
                   
            
	<br>
	<h2>아이디 찾기</h2>	
	<div class="searchId_container">
		<form action="/member/searchId" method="post">
			<table>
			<tr>
				<th style="width : 200px">이름</th>				
				<td height="100px"><input type="text" class="search_name" id="search_name"
							name="username" placeholder="이름을 입력하세요.">
				</td>
			</tr>
			<tr>
				<th style="width : 200px">이메일</th>
				<td><input type="email" class="search_email"
				id="search_email" name="email" placeholder="이메일을 입력하세요."></td>
			</tr>
			</table>
			<br><br>
			<input type="submit" class="search_Id" value="아이디 찾기" >
		</form>
		<br>
	</div>
</body>
</html>