<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}">
</head>
<body>
                   
            
	<br>
	<br>
	<h2>비밀번호 찾기</h2>	
	<div class="searchPassword_container">
		<form action="/member/searchPassword" method="post">
			<table>
			<tr>
				<th style="width : 200px">이름</th>				
				<td height="70px"><input type="text" class="search_name" id="search_name"
							name="username" placeholder="이름을 입력하세요.">
				</td>
			</tr>
			<tr>
				<th>아이디</th>				
				<td height="70px"><input type="text" class="search_Id2" id="search_Id2"
							name="username" placeholder="아이디를 입력하세요.">
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td height="70px" ><input type="email" class="search_email"
				id="search_email" name="email" placeholder="이메일을 입력하세요."></td>
			</tr>
			<tr>
				<th>인증번호</th>
				<td height="70px"><input type="text" class="authentication" name="authentication" placeholder="인증번호">
				&nbsp;&nbsp;<button type="button" class="btn_send">인증번호 받기</button></td>
			</tr>
			</table>
			<br><br>
			&nbsp;<input type="submit" class="search_password" value="비밀번호 변경" >
		</form>
		<br>
	</div>
</body>
</html>