<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/free.css}">
<script>
	const message = '[[${message}]]';
	message && alert(message);
</script>
</head>
<body>
	<div th:replace="common/header.html"></div>
<div class="table-area">
		<table id="detail">
	<tr>
		<th class="xkdlxmf" th:text="${ free.freeTitle }"></th>
		<!-- <th class="dkdlel" th:text="${ free.memberId.memberId }"></th> -->
		<th class="zkdnsxm" th:text="|조회수 ${ free.freeCount } / ${ free.freeDate }|"></th>
	</tr>
	</table>
	
	
	<!-- 첨부파일 -->
<!-- 	<div class="free-view">
		<th:block th:if="${ free.attachFileList[1].thumPath != null }">
			<img width="500" height="350"
			th:src="${ free.attachFileList[1].filePath + free.attachFileList[1].fileSaveName }"/>
		</th:block>
   </div>
   
   <div class="free-photo" align="center">
          	<th:block th:if="${ free.attachFileList.size() > 1 }"
		  th:each="index : ${ #numbers.sequence(1, free.attachFileList.size() - 1) }">
		  <img width="700" height="500"
				 th:src="${ free.attachFileList[index].filePath + free.attachFileList[index].fileSaveName }"/>
		</th:block>
  </div>
  
		  <div class="freedropdown">
        	<span class="dropbtn"><img src="../images/attach.png" width="30px" height="30px"></span>
	        <div class="photo-download">
	            <th:block th:if="${ free.attachFileList.size() > 1 }"
					      th:each="index : ${ #numbers.sequence(1, free.attachFileList.size() - 1) }">
					<a th:href="${ free.attachFileList[index].filePath + free.attachFileList[index].fileSaveName }"
					   th:download="${ free.attachFileList[index].fileOrgName }">
						<span th:text="${ free.attachFileList[index].fileOrgName }"></span><br>
					</a>
				</th:block>
	        </div>
        </div>    -->        
	<!-- 첨부파일 -->
	
	
	    <p id="detailcontent" th:text="${ free.freeContent }"></p>


    <div class="update-delete">

    <th:block sec:authorize="isAuthenticated()">
     <th:block th:if="${ free.memberId.memberId == #authentication.principal.memberId }">
     	<a th:onclick="|location.href='/free/update?freeNo=${free.freeNo}'|"
     	 style="cursor:pointer;">수정</a> &#124; 
     </th:block>
     <th:block th:if="${ free.memberId.memberId == #authentication.principal.memberId or free.memberId.getMemberRole().toString().equals('ROLEADMIN') }">
     	<a th:onclick="|location.href='/free/delete?freeNo=${free.freeNo}'|"
     	 style="cursor:pointer;">삭제</a>
     </th:block>
     </th:block>
    </div>
    
    
	  <!-- 댓글 작성용 table -->  
	<table id="replyWrite" style="margin:auto;">
	<input type="hidden" id="freeNo" th:value="${free.freeNo}"/>
		<tr>
			<td class="eotrmf">댓글</td><tr>
			<td><textarea cols="152" rows="5" id="replyContent" style="resize:none;"></textarea></td>
			<td><button type="button" id="registReply">등록</button></td>
		</tr>
	</table>



	
	<!-- 댓글 내용 출력용 table -->
	<table id="replyResult" ></table>
	</div>
	<div th:replace="common/footer.html"></div>
	
	<th:block sec:authorize="isAuthenticated()">
	<script>	
		const loginUser ='[[${#authentication.principal.memberId}]]';
	</script>
	</th:block>
	
	<script>
	/* 댓글 관련 로직 - 비동기 요청 */
		loadFreeReply();
		
		/* 2. 댓글 로드 */
		function loadFreeReply() {
			
			if(document.getElementById("freeNo")) {
				
				fetch("/free/loadFreeReply?freeNo=" + document.getElementById("freeNo").value)
				.then(result => result.json())
				.then(data => {
					makeReplyTable(data);
				})
				.catch(error => console.log(error));
				
			}
			
		}
		
		/* 1. 댓글 작성 이벤트 */
		if(document.getElementById("registReply")) {
			
			const $registReply = document.getElementById("registReply");
			const $replyContent = document.getElementById("replyContent");
			
			$registReply.onclick = function() {
				
				if(!$replyContent.value.trim()) {
					alert("댓글을 입력해주세요");
					return;
				}
				
				const freeNo = document.getElementById("freeNo").value;
				const replyContent = $replyContent.value;
				
				fetch("/free/registReply", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json;charset=UTF-8'
					},
					body: JSON.stringify({
						freeNo: freeNo,
						replyContent: replyContent
					})
				})
				.then(data => {
					console.log(data);
					loadFreeReply();
				})
				.catch(error => console.log(error));
			}
		}
 		/* 3. 댓글 삭제 */
		function removeReply(replyNo) {
			
			fetch("/free/removeReply", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json; charset=UTF-8'
				},
				body: JSON.stringify({
					replyNo: replyNo
				})
			})
			.then(result => {
				console.log(result);
				loadFreeReply();
			})
			.catch(error => console.log(error));
			
		} 
		
		/* 댓글 데이터 테이블화 하는 함수 */
		function makeReplyTable(replyList) {
			
			const $table = document.querySelector("#replyResult");
			$table.innerHTML = '';
			
			replyList.forEach(freeReply => {
				const $tr = document.createElement('tr');
				const $replyContentTd = document.createElement('td');
				const $memberIdTd = document.createElement('td');
				const $replyDateTd = document.createElement('td');
				const $button1Td = document.createElement('td');
				const $button2Td = document.createElement('td');
				
				$replyContentTd.textContent = freeReply.replyContent;
				$memberIdTd.textContent = freeReply.memberId.memberId;
				$replyDateTd.textContent = freeReply.replyDate; 
				
				if(loginUser == freeReply.memberId.memberId) {
					$button1Td.innerHTML = `<button type='button' onclick='updateReply(${freeReply.replyNo})' style="cursor:pointer;">수정</button>`; 
					$button2Td.innerHTML = `<button type='button' onclick='removeReply(${freeReply.replyNo})' style="cursor:pointer;">삭제</button>`;
				}
					
				$tr.append($memberIdTd, $replyDateTd, $replyContentTd, $button1Td, $button2Td);
				$table.append($tr);
			});
			
	 		/* 댓글 수정 */
/* 			function updateReply(replyNo) {
				
				fetch("/free/updateReply", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json; charset=UTF-8'
					},
					body: JSON.stringify({
						replyNo: replyNo
					})
				})
				.then(result => {
					console.log(result);
					loadFreeReply();
				})
				.catch(error => console.log(error));
	 		} */
				
		}
	</script>
	
</body>
</html>