<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/free.css}">
<script type="text/javascript" th:src="@{/js/event.js}"></script>
</head>
<body>
	<div th:replace="common/header.html"></div>
		<table id="detail">
	<tr>
		<th class="xkdlxmf" th:text="${ free.freeTitle }"></th>
		<th class="zkdnsxm" th:text="|조회수 ${ free.freeCount } / ${ free.freeDate }|"></th>
		
	</tr>
	</table>

	    <p id=content th:text="${ free.freeContent }"></p>

	    
		
	
</body>
</html>