<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/free.css}">
<script type="text/javascript" th:src="@{/js/event.js}"></script>
<script>
	const message = '[[${message}]]';
	message && alert(message);
</script>
</head>
<body>
<div th:replace="common/header.html"></div>
<form id="freeUpdateForm" th:action="@{/free/update}"
            method="post" enctype="multipart/form-data">
<div id="update">
<input type="hidden" name="freeNo" th:value="${ free.freeNo }"/>
<input class="title2" name="freeTitle" th:value="${ free.freeTitle }">
<input class="content2" name="freeContent" th:value="${ free.freeContent }">
</div>

	<div id="btn123">
           <button type="submit" class="btn11"
            style="cursor:pointer;">수정</button>
           <button type="button"  
           th:onclick="|location.href='/free/detail?freeNo=${free.freeNo}'|"
           class="btn22" style="cursor:pointer;">취소</button>
	</div>
	
</form>
<div th:replace="common/footer.html"></div>

</body>
</html>