<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/free.css}">
</head>
<body>
	<div id=free>
	<a class="qjsgh">번호</a>
	<a class="wpahr">제목</a>
	<a class="dkdlel">아이디</a>
	<a class="whghltn">조회수</a>
	<a class="emdfhrdlf">등록일</a>
	</div>
	
	<button class="make-btn" type="submit" onclick="location.href='/free/make'">글쓰기</button>
	
	<div id=search>
	<input class="search-txt" type="text">
	<button class="search-btn" type="submit">검색</button>
	</div>
	
</body>
</html>