@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
	padding:0;
	margin:0;
	width:100%;
    height:100%;
}
aside{
    display: inline;
    float: left;
    position: relative;
    min-width:160px;
    min-height: 700px;
    height: 100vh;
    margin-top:0;
    margin-bottom:0;
    padding: 10px 0;
    text-align: center;
    gap: 10px;
    border-right: 1px solid gray ;
    transition: all 0.5x ease;
}
nav a{
    text-decoration: none;
    color:black;
    margin:2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
nav a:hover{
    color: #77CFD1;
}
nav{
    display: flex;
    flex-direction: column;
}
.part1{
   position: relative;
   display: flex;
}
.searchTitle{
	/*margin-top: 50px;
    margin-left: 150px;*/
    margin: 50px auto;
    margin-bottom:20px;
    width: 700px;
    border-bottom: 1px solid #77CFD1;
}
.menu-area{
	border-bottom: 2px solid #77CFD1;
}
li a{text-decoration: none;
	 color:black;
}
li a:hover{
	  color: #77CFD1;
}
.material-icons{
	
    position: absolute;
    margin-top: 0px;
    margin-left: -28px;
}
#updateMember{
	background-color:transparent;
	border:0;
	outline:0;
}
#updateMember:hover{
	  color: #77CFD1;
}
#logout{
	background-color:transparent;
	border:0;
	outline:0;
}
#logout:hover{
	  color: #77CFD1;
}
#logo{
	margin-left:60px;
}
table{
    border-collapse: collapse;
    width:700px;
}
.member tr {
    border-bottom: 1px solid #77CFD1;;
}
.member tr:last-child {
    border-bottom: none;
}
th,td {
    text-align: center;
    padding: 8px;
}

.paging button{
	background-color:transparent;
	border:0;
	outline:0;
}


input[type="checkbox"]{
    accent-color:  #319e9f;
    color:rgba(rgb(54, 0, 0), rgb(0, 191, 0), rgb(0, 0, 255), alpha)
    rgb(14, 179, 165)
}

/*수익금*/
.carpic{
    margin-left: 200px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.part3{
    position: relative;
    display: flex;
    gap: 40px;
}

strong{
    color: #319e9f;
}

.profit-contents{
    color:#319e9f;
    font-size: large;
    
}

.part4{
    position: relative;
    display:flex;
    margin-top: 30px;
   
}

.chartTilte{
    margin-left:200px;
    width: 700px;
    border-bottom: 2px solid #77cfd1;
}

h3 pagetitle{
    margin-left:5px;
}

.part5{
    display: flex;
    
}

#myChart{
	
    margin-left: 200px;
    margin-top: 40px;
    
}

.part6{
   position: relative;
   display: flex;
   margin-top: 50px;
   width:910px
}
.tableTitle{
    margin-left: 200px;
    width: 100%;
    border-bottom: 2px solid #77cfd1;
} 




/*테이블*/
.part7{
    position:relative;
    display: flex;
   
}

.content-box1{
    margin-left: 200px;
    margin-top: 40px; 
} 

table{
   
    /* margin-left: 400px;
    margin-bottom: 100px; */

    border-collapse: collapse;
    width:700px;
  
}

.member tr {
    border-bottom: 1px solid #77cfd1;;
} 

.member tr:last-child {
    border-bottom: none;
}



th,td {
    text-align: center;
    padding: 10px;
}

button{
    font-size:medium;
    border-radius: 15px;
    border: 3px solid rgb(233, 233, 233); 
    font-style:normal;
    background-color: rgba(125, 125, 125, 0.153);
} 

button:hover{
   
    transform: scale(1.05);
    cursor: pointer;

} 




/*폼형식*/
.form_wrapper{
	position:relative;
	width:100%;
	
	
}

.part_top{
    position: relative;
    margin: 0 auto;
    margin-bottom:30px;
    width:700px;
    display: flex;
    gap:340px;
   
}

.checkarea{
	margin-top:50px;
	margin-left:10px;
}

.part2{
    float:right;
    margin-top:50px;
}

form{
	display:flex;
	margin-top:30px;
    margin:auto;
    padding:20px;
    padding-left:35%;
    gap:10px;   
   
  }

.searchform{
	display:flex;
	margin-top:30px;
    margin:auto;
    padding:20px;
    padding-left:25%;
    gap:10px;   
}  
.profitsection{
	position:relative;
	margin-top:0px;
	
}


.profit-title{
	margin:40px auto 30px 200px;
	width:700px;
	padding-left:380px
}
label{
	
    padding-top: 3px;
   }
   
#all-wrapper{
	height:auto;
	min-height:100%;
	padding-bottom:300px;
}

.adminfooter{
	background-color: #F9F7F7;
	height:250px;
	position:relative;
	transform:translateY(-100%);
}

.adminfooter { padding: 25px 0;}
.adminfooter > div {width: 500px; margin: 0 auto 0 20px; }
.adminfooter > div > h3 {font-size: 25px; margin-bottom: 10px;}
.adminfooter > div > ul {width: 400px;}
.adminfooter > div > ul > li {padding: 3px 0; font-size: 14px;}
