@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    position: relative;
    height: 150px;
    border-bottom: 2px solid #77CFD1;
}
h1{
    width: 120px;
    padding-top: 30px;
    padding-left: -30px;
    margin-bottom:5px;
}
.gnbArea {
	position:relretive;
	display:flex;
    margin-left: 40px;
    margin-right: 80px;
    gap:5px;
}
li{
    list-style: none;
}
a{text-decoration: none;}
.utilMenu a {text-decoration: none; color: rgb(128, 128, 128); cursor: pointer;}
.menu {
    display: flex;
    position: absolute;
    bottom: 25px;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.menuList {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    width: 100%;
}
.menu li a {
	text-decoration: none;
    padding-left: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color:rgb(0, 0, 0);
}

.menu li :hover{
    color: #77CFD1;
}

.adminMenu {
	display: flex;
	width: 400px;
}

.utilMenu {
    display: flex;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 50px;
    margin-left: 200px;
    margin-right: 80px;
}
.material-icons{
	margin-left:-25px;
	margin-top:3px;
}

#footer-wrapper{
	min-height:60vh;
	position:relative;
	width:100%;	
}
.footer{
	
	width:100%;
	height:240px;
	position:absolute;
	bottom:0;
}

.footer-info{
	margin-bottom:30px;
}

.utilMenu > a {margin-left: 20px;}
.footer { background-color: #F9F7F7;  padding: 25px 0 20px 0;}
.footer > div {width: 800px; margin: 0 auto 50px auto; }
.footer > div > h3 {font-size: 25px; margin-bottom: 10px;}
.footer > div > ul {width: 400px;}
.footer > div > ul > li {padding: 3px 0; font-size: 14px;}