@charset "UTF-8";

/* 로그인 페이지 */
a{
	color : black;
	text-decoration: none;	
}
.user_login{
	width: 220px;
	height: 35px;
	background: #77CFD1;
	border: 1px solid #000000;
}
.user_login:hover {

    font-weight: bold;
	color: white;
	cursor: pointer;
 	 transition: all 0.2s ease;

}

.user_login:focus {
    background: pink;
    color: white;
 
}

.login_container {
  position: absolute;
  width: 400px;
  height: 400px;
  text-align: center;
  margin-left: -200px;
  margin-top: -200px;
  left: 50%;
  top: 50%;

}

.user_id:hover {
    background: pink;
 	cursor: pointer;
}

.user_id:focus {
	cursor : auto;
}

input.user_id {
    width: 220px;  height: 30px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

input.user_password {
	width: 220px; height: 30px;
	 border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.user_password:hover {
    background: pink;
 	cursor: pointer;
}
.user_password:focus {
	cursor : auto;
}


.lock{
	width : 10%; margin-bottom:10px;
}



/* 아이디 찾기 */
.searchId_container {
  position: absolute;
  width: 600px;
  height: 600px;
  text-align: center;
  margin-left: -400px;
  margin-top: -200px;
  left: 50%;
  top: 50%;

}

.search_name {
	width: 350px;
	height: 30px;
}

.search_name:hover {
    background: pink;
 	cursor: pointer;
}
.search_name:focus {
   cursor : auto;
}


.search_email {
	width: 350px;
	height: 30px;
}

.search_email:hover {
    background: pink;
 	cursor: pointer;
}
.search_email:focus {
cursor : auto;
	}

.search_Id {
	width:360px;
	height: 35px;
	background: #77CFD1;
	border: 1px solid #000000;
	margin : 0px 0px 5px 150px;
}

.search_Id:hover {
	background: pink;
 	cursor : pointer;
}


/* 비밀번호 찾기 페이지 */

.searchPassword_container {
  position: absolute;
  width: 600px;
  height: 600px;
  text-align: center;
  margin-left: -400px;
  margin-top: -200px;
  left: 50%;
  top: 50%;

}

.search_name {
	width: 350px;
	height: 30px;
}

.search_name:hover {
    background: pink;
 	cursor: pointer;
}
.search_name:focus {
   cursor : auto;
}

.search_Id2 {
	width: 350px;
	height: 30px;
}

.search_Id2:hover {
    background: pink;
 	cursor: pointer;
}
.search_Id2:focus {
   cursor : auto;
}


.search_phone {
	width: 350px;
	height: 30px;
}

.search_phone:hover {
    background: pink;
 	cursor: pointer;
}
.search_phone:focus {
cursor : auto;
	}
	
.search_password {
	width:350px;
	height: 35px;
	background: #77CFD1;
	border: 1px solid #000000;
	margin : 0px 0px 5px 150px;
}

.search_password:hover {
	background: pink;
 	cursor : pointer;
}
 
 
