<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}">
</head>
<body>

	<div th:replace="common/header.html"></div>
	
	<div class="container">
		<form action="/member/login" method="post">
		
			<img src="../images/icon-lock.png" class="lock" >
			
			<div class="login_id">
				<input type="text" class="user_id" id="user_id"
					name="username" placeholder="아이디">
			</div>
			
			<div class="login_password">
				<input type="password" class="user_password"
				id="password" name="password" placeholder="비밀번호">
			</div>
			<br>
			
			<input type="submit" class="user_login" value="로그인" >	
		</form>
		<br>	
	
		<div class="login_etc">
			<a class="find_id" href="/login/findId" ><b>아이디 찾기</b></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a class="find_password" href="/login/findPassword"><b>비밀번호 찾기</b></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="regist" href="/member/regist"><b>회원가입</b></a>
		</div>
	</div>
</body>
</html>