<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}">
</head>
<body>

<form>
	<table class="w-pct60">
		
		<tr>
			<td>아이디</td>
		</tr>
		<tr>	
			<td>
				<input type="text" name="id" class="regist_id" placeholder="아이디" />
			</td>
		</tr>
		<tr>
			<td>비밀번호</td>
		</tr>
		<tr>
			<td>
				<input type="password" name="password" class="regist_password" placeholder="비밀번호" />
			</td>
		</tr>
		<tr>
			<td>비밀번호 재확인</td>
		</tr>
		<tr>
			<td>
				<input type="password"  name="password" class="regist_password2" placeholder="비밀번호 재확인" />
			</td>
		</tr>
		<tr>
			<td class="w-px160">성명</td>
		</tr>
		<tr>	
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<th>* 성별</th>
			<td>
				<label><input type="radio" name="gender" value="남" checked/>남</label>
				<label><input type="radio" name="gender" value="여" />여</label>
			</td>
		</tr>
		<tr>
			<th>* 이메일</th>
			<td>
				<input type="text" title="이메일" name="email" class="chk" />
				<div class="valid">이메일을 입력하세요.</div>
			</td>
		</tr>
		<tr>
			<th>생년월일</th>
			<td>
				<input type="text" name="birth" readonly />
				<span id="delete" style="color: red; position: relative; right: 25px; display: none;"><i class="fas fa-times font-img"></i></span>
				<!-- fontawesome에서 가져온 무료 아이콘 -->
			</td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td>
				<input type="text" name="tel" /> - 
				<input type="text" name="tel" /> - 
				<input type="text" name="tel" />
			</td>
		</tr>
		<tr>
			<th>주소</th>
			<td>
				<a class='btn-fill-s' onclick="daum_post()">우편번호 찾기</a>
				<input type="text" name="post"  class="w-px60" readonly />
				<input type="text" name="addr" readonly/>
				<input type="text" name="addr" />
			</td>
		</tr>
	</table>
</form>
<div class="btnSet">
	<a class="btn-fill" onclick="go_join()">회원가입</a>
	<a class="btn-empty" onclick="history.go(-1)">취소</a>
</div>
</body>
</html>