@charset "UTF-8";

/* 로그인 페이지 */
.login_container {
	width: 600px;
	height: 600px;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
	font-size: 1em;
}

/* 로그인 버튼 */
.user_login {
	width: 300px;
	height: 50px;
	background: #77CFD1;
	border: 1px solid #000000;
	font-size: 1em;
}

.user_login:hover {
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}



/* ID */
.user_id:hover {
	background: #77CFD1;
	cursor: pointer;
	color: white;
}

.user_id:focus {
	cursor: auto;
}

.user_id {
	width: 300px;
	height: 50px;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 1em;
}

/* Password */
.user_password {
	width: 300px;
	height: 50px;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-size: 1em;
}

.user_password:hover {
	background: #77CFD1;
	cursor: pointer;
}

.user_password:focus {
	cursor: auto;
}

/* 이미지 */
.lock {
	width: 10%;
	margin-bottom: 10px;
}

