@charset "UTF-8";


input[type=submit]{
	width: 300px;
	height: 35px;
	background: #77CFD1;
	border: 1px solid #000000;
}

.send {
	cursor : pointer;
	
}

.regist {
	width: 250px;
	height: 30px;
}


.regist:focus {
    background: #80ffff;
    color: black;
}


.regist:hover {
	width:250px;
}

.pwcheck {
	width: 250px;
	height: 30px;
}


.pwcheck:focus {
    background: #80ffff;
    color: black;
}

.pwcheck:hover {
	width:250px;
}

.memberId{
	width: 250px;
	height: 30px;
}


.memberId:focus {
    background: #80ffff;
    color: black;
}

.memberId:hover {
	width:250px;
}

.form-control {
	width: 250px;
	height: 30px;
}


.form-control:focus {
    background: #80ffff;
    color: black;
}

.form-control:hover {
	width:250px;
}

.authentication {
	width: 130px;
	height: 20px;
}
.agree {
	text-align : center;
}

.btn_send {
	width: 100px;
	height: 30px;
}

.btn_duplicationCheck{
	width:130px;
	height:30px;
	cursor: pointer;
}


.btn_btn-yg {
	width:80px;
	height:30px;
	cursor: pointer;
}

.btn_checkEmail {
	width: 100px;
	height: 30px;
	cursor: pointer;
	
}


