
/* 비밀번호 찾기 페이지 */
table {
	border-collapse: separate;
	border-spacing: 0 20px;
}

.searchPassword_container {
	width: 600px;
	height: 450px;
	text-align: center;
}

/* ID */
.search_Id {
	width: 350px;
	height: 50px;
	font-size: 1em;
}

.search_Id:hover {
	background: #77CFD1;
	cursor: pointer;
	color: white;
}

.search_Id:focus {
	cursor: auto;
}

/* Name */
.search_name {
	width: 350px;
	height: 50px;
	font-size: 1em;
}

.search_name:hover {
	background: #77CFD1;
	cursor: pointer;
	color: white;
}

.search_name:focus {
	cursor: auto;
}

/* Phone */
.search_phone {
	width: 350px;
	height: 50px;
	font-size: 1em;
}

.search_phone:hover {
	background: #77CFD1;
	cursor: pointer;
	color: white;
}

.search_phone:focus {
	cursor: auto;
}

/* Password */
.search_password {
	width: 360px;
	height: 50px;
	background: #77CFD1;
	border: 1px solid #000000;
	margin: 0px 0px 5px 150px;
	font-size: 1em;
}

.search_password:hover {
	background: #77CFD1;
	cursor: pointer;
	color: white;
}