<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

	<script type="text/javascript" th:src="@{/js/event.js}"></script>
<title>신고하기</title>
</head>
<body>

	<div th:replace="common/header.html"></div>

	<h2>신고하기</h2>

	<div class="report-form">
		<form id="reportRegistForm" th:action="@{/report/regist}" method="post">
			<input type="hidden" name="sell.sellNo" th:value="${sellNo}">
			<textarea name="reportContent" cols="50" rows="10" style="resize:none";></textarea>
			<div class="reportbtn">
				<button type="submit" class="btn-ok">확인</button>
				<button type="button" class="btn-no" onclick="location.href='trade/list'">취소</button>
			</div>		
		
		</form>
	
	</div>
	
	<div th:replace="common/footer.html"></div>

</body>
</html>